@import url("css-helpers/banner.css");
@import url('css-helpers/product.css');

body, html{
  padding:0;
  margin:0;
  overflow-x: hidden;
  background-color: #000000;
  font-family:Helvetica Neue LT Std;
  color:#ffffff;
  font-size: 100%;
}

@font-face {
  font-family: Helvetica Neue LT Std;
  src: url("fonts/HelveticaNeueLTStd-Roman.otf");
}

@font-face {
  font-family: Helvetica Neue LT;
  src: url("fonts/HelveticaNeueLTStd-Lt.otf");
}

button{
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 3% 7%;
  text-align: center;
  text-decoration: none;
  font-size: 1.3vw;
  display: inline-block;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 45px;
}

button:hover {
  background-color: #bcb9b9;
}

@media only screen and (max-width: 1024px) {
  button{
  min-width:80vw;
  padding: 3vh 12vw;
  font-size: 4.5vw;
  margin: 4px 2px;
  border-radius: 80px;
  margin-bottom: 5%;
  }
}

@media only screen and (max-width: 610px) {
  button{
    padding: 2vh 12vw;
    font-size: 5vw;
  }
}

@media only screen and (max-width: 411px) {
  button{
    padding: 1.5vh 12vw;
  }
}

@media only screen and (max-width: 330px) {
  button{
    padding: 1.2vh 12vw;
  }
}