#bannerSection{
  background: url("/image-assets/icons-remastered-online-lp-d.jpg") no-repeat center;
  background-size: contain;
  background-size: 100% 100%;
  width: 100%;
  height: 852px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 100px;
}

#bannerTextContainer{
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-content: center;
}

#bannerHeadline{
  font-size: 2em;
}

#bannerCopy{
  font-size: 1.1em;
  line-height: 1.5;
  margin-top: -6%;
}

@media only screen and (max-width: 1024px) {
  #bannerSection{
    background: url("/image-assets/icons-remastered-online-lp-m.jpg") no-repeat;
    background-size: cover;
    background-size: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #bannerTextContainer{
    width: 80%;
    justify-content: space-evenly;
  }
  
  #bannerHeadline{
    margin-top: 50%;
    font-size: 3em;
  }
  
  #bannerCopy{
    margin-top: 55%;
    font-size: 2em;
  }
}

@media only screen and (max-width: 740px) {
  #bannerHeadline{
    font-size: 2.5em;
  }
  
  #bannerCopy{
    margin-top: 50%;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 620px) {
  #bannerHeadline{
    font-size: 2em;
  }
  
  #bannerCopy{
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 495px) {
  #bannerHeadline{
    font-size: 1.5em;
  }
  
  #bannerCopy{
    font-size: 1em;
  }
}

@media only screen and (max-width: 370px) {
  #bannerHeadline{
    font-size: 1.2em;
  }
  
  #bannerCopy{
    font-size: .8em;
  }
}

@media only screen and (max-width: 300px) {
  #bannerHeadline{
    font-size: 1em;
  }
}